In [1]:
import psutil
import pandas as pd
import os
import csv
import calendar
import datetime
import random
import numpy as np
os.getcwd()

#os.chdir('D:\Cincinnati\Classes\9. Graduate Case studies')
#os.getcwd()

'C:\\Users\\Jeevisha\\Desktop\\fifth third'

In [4]:
accts = pd.read_table('UC_CoBA_ACCT_BAL_MONTHLY_15.txt', usecols= ['I_REC_KEY','DATE_KEY'] ,sep="|")

C:\Users\Jeevisha\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead.
  """Entry point for launching an IPython kernel.

In [5]:
accts.DATE_KEY.unique()

array(['31OCT2018', '30NOV2018', '31DEC2018', '31JAN2019', '28FEB2019',
       '31MAR2019', '30APR2019', '31MAY2019', '31JUL2019', '31AUG2019',
       '30SEP2019', '31OCT2019', '30NOV2019', '31DEC2019'], dtype=object)

In [27]:
#keys = pd.read_csv('final_filtered_keys.csv')

In [28]:
#table = pd.merge(accts,keys)

In [31]:
#masterlist = table.I_REC_KEY.unique().tolist()

In [6]:
date_format = "%d%b%Y"

In [7]:
attrition_flag = pd.read_csv('attritionflags.csv')

In [8]:
# Load accts and attrition flag file before 

def target_func2(for_month,months,rate):         ### rate =1 for target rate , rate anything other than 1 will output the file
    acct = accts[accts['DATE_KEY']== for_month]
    
    for_date = datetime.datetime.strptime(for_month, date_format)
    month = for_date.month
    file_month = month
    year = for_date.year + month // 12
    month = month % 12 + 1
    day = max(1, calendar.monthrange(year,month)[1])
    
    last_month = datetime.datetime(year,month,day,0,0,0)
    last_month = last_month.strftime('%d%b%Y').upper()
    
    attrition = attrition_flag[attrition_flag['attritionflag']==1]
    attrition = attrition[attrition['lastdate']==last_month]
    file = pd.merge(acct,
                   attrition,
                   left_on = 'I_REC_KEY',
                   right_on = 'I_REC_KEY',
                   how = 'left')
    target = [] 
    for value in file["attritionflag"]: 
        if value == 1: 
            target.append(1) 
        else: 
            target.append(0) 
    file['target']=target
    file['month']=file_month
    file = file.drop(columns=['lastdate','lastdateindate','attritionflag'],axis=1)
    
    target_rate = file[file['target']==1].shape[0]/file.shape[0]
    if rate == 1: 
        return target_rate 
    else: 
        return file

In [9]:
nov_file = target_func2('30NOV2018',1,0)

In [10]:
dec_file = target_func2('31DEC2018',1,0)

In [11]:
jan_file = target_func2('31JAN2019',1,0)

In [12]:
feb_file = target_func2('28FEB2019',1,0)

In [13]:
mar_file = target_func2('31MAR2019',1,0)

In [14]:
apr_file = target_func2('30APR2019',1,0)

In [15]:
may_file = target_func2('31MAY2019',1,0)

In [16]:
jun_file = target_func2('30JUN2019',1,0)

In [17]:
jul_file = target_func2('31JUL2019',1,0)

In [18]:
aug_file = target_func2('31AUG2019',1,0)

In [19]:
sep_file = target_func2('30SEP2019',1,0)

In [20]:
oct_file = target_func2('31OCT2019',1,0)

In [21]:
df = nov_file.append([dec_file, jan_file,feb_file,mar_file,apr_file,may_file,jun_file,jul_file,aug_file,sep_file,oct_file])

In [36]:
df.shape
df.head()

   I_REC_KEY   DATE_KEY  target  month
0    8923024  30NOV2018       0     11
1    8911235  30NOV2018       0     11
2    8908665  30NOV2018       0     11
3   10856643  30NOV2018       0     11
4    9697506  30NOV2018       0     11

In [46]:
final_df = pd.DataFrame(columns=['I_REC_KEY','DATE_KEY','target','month'])

for i in range(1,12):
    if i == 1:
        sam_key = (df[df['month']==i]).sample(7000)
        final_df = final_df.append(sam_key)
    else:
        df_temp = df[df['month']==i]
        sam_key = df_temp[~df_temp.I_REC_KEY.isin(final_df['I_REC_KEY'])].sample(7000)
        final_df = final_df.append(sam_key)

In [47]:
final_df.shape

(77000, 4)

In [48]:
final_df.I_REC_KEY.nunique()

77000

In [49]:
final_df.to_csv('7000_permonth_accts.csv')

## Working Code Till Here

In [26]:
sam_key = df.sample(5000)

In [27]:
sam_key.shape

(5000, 4)

In [28]:
sam_key

         I_REC_KEY   DATE_KEY  target  month
2362808  127817466  31JAN2019       0      1
1713433   98791163  31MAR2019       0      3
143103     8473931  31DEC2018       0     12
862681    41867738  31JAN2019       0      1
1363640   77928956  31DEC2018       0     12
3043214  149860372  31DEC2018       0     12
484801    14337842  30JUN2019       0      6
1491024   87827200  30JUN2019       1      6
3150402  153347877  30JUN2019       0      6
2761100  145760164  31MAR2019       0      3
268407     9691568  30JUN2019       0      6
1681760   97736788  30APR2019       0      4
400195    14476299  30NOV2018       0     11
2219995  126212730  31AUG2019       0      8
1637684   94383657  28FEB2019       0      2
474625    14370638  31JAN2019       0      1
211135     8766360  31DEC2018       0     12
3150092  153135997  31MAY2019       0      5
2820288  147496090  30APR2019       0      4
2824202  150865744  31OCT2019       0     10
589739    17745876  31JUL2019       0      7
2829228  145261498  30NOV2018       0     11
116664     9290134  31JAN2019       0      1
1698712   97678871  28FEB2019       0      2
2976217  153218981  31OCT2019       0     10
306411     8964427  31DEC2018       0     12
1907800  109464188  30APR2019       0      4
2418785  129017022  31DEC2018       0     12
1155564   66669949  31AUG2019       0      8
1812038  107498878  31OCT2019       0     10
...            ...        ...     ...    ...
1111382   60655962  31MAR2019       0      3
3288727  157320490  30SEP2019       0      9
2159344  124106640  31AUG2019       0      8
3080959  153365189  30SEP2019       0      9
1512185   88630156  30APR2019       0      4
362155    12909484  31AUG2019       0      8
598093    17397935  30JUN2019       0      6
1600555   93301977  30APR2019       0      4
1814843  106616608  31AUG2019       0      8
735678    25007766  31AUG2019       0      8
1682419   99637563  30SEP2019       0      9
3012330  153243454  31OCT2019       0     10
2572632  143345179  31AUG2019       0      8
581530    16977294  31JUL2019       0      7
2277005  125130281  31JAN2019       0      1
1771305  102634713  31MAY2019       0      5
1280435   75188740  30JUN2019       0      6
1322376   78534373  30SEP2019       0      9
2140811  119446617  28FEB2019       0      2
91163     10323902  31MAR2019       0      3
246434     9593323  28FEB2019       0      2
1146763   64259973  31AUG2019       0      8
1503902   90842330  31OCT2019       0     10
1015308   54281092  31JAN2019       0      1
786568    26588713  28FEB2019       0      2
1747960  102821826  31AUG2019       0      8
2161651  118791103  31DEC2018       0     12
1250942   72018743  28FEB2019       0      2
2313966  130721675  31OCT2019       0     10
1815835  102275923  30NOV2018       0     11

[5000 rows x 4 columns]

In [24]:
df.to_csv('Monthly_acct_with_target.txt',sep='|',index=None)

KeyboardInterrupt:

In [ ]:
df_test = pd.read_csv('Monthly_acct_with_target.csv')

In [103]:
df['month'].value_counts()

10    3300954
9     3298991
8     3292190
7     3277657
6     3268563
5     3260230
4     3096758
3     3086812
2     3078313
1     3069374
12    3067238
11    3065941
Name: month, dtype: int64

In [105]:
df.I_REC_KEY.nunique()

3750397

In [138]:
df_uniq=df.copy()
df_uniq = df_uniq.drop_duplicates(['I_REC_KEY'])

In [139]:
df_uniq.shape

(3750397, 4)

In [140]:
df_uniq.head()

   I_REC_KEY   DATE_KEY  target  month
0    8923024  30NOV2018       0     11
1    8911235  30NOV2018       0     11
2    8908665  30NOV2018       0     11
3   10856643  30NOV2018       0     11
4    9697506  30NOV2018       0     11

In [192]:
values = df['month'].unique().tolist()

In [193]:
values

[11, 12, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [114]:
#container = [
 #   random.sample(masterlist, 5000)
  #  for l in values
#]

In [196]:
cont = pd.DataFrame(columns=['I_REC_KEY'])
cont

Empty DataFrame
Columns: [I_REC_KEY]
Index: []

In [201]:
for l in range(1,12):
    masterlist_month = df_uniq[df_uniq['month'] == l]
    masterlist_month = masterlist_month.iloc[:,0].tolist()
    cont['I_REC_KEY'] = random.sample(masterlist_month,7000)

ValueError: Length of values does not match length of index

In [198]:
cont

      I_REC_KEY
0      94623894
1     138792633
2      99718841
3     123594407
4      12993046
5     149020559
6      45012581
7     127438941
8     145904944
9     114644407
10     57932255
11     96356059
12     19001320
13    116545766
14    136179953
15     82642823
16     27340056
17    148400272
18    114760964
19     94876037
20     44403981
21    124652665
22    147783375
23     53845628
24     80784423
25     16264043
26    125794839
27    120745224
28     84791655
29     44937861
...         ...
6970  139166012
6971  112666642
6972  112496282
6973   12813586
6974  147818499
6975  136428737
6976  125169563
6977  137961630
6978   14308667
6979  127299346
6980   32130011
6981  100203998
6982   14654186
6983   19684957
6984  124839200
6985    9733215
6986  128121088
6987   49208724
6988   86268418
6989   48947477
6990   10310620
6991   14344233
6992   60816480
6993  108899562
6994   91731691
6995    9855981
6996   84861035
6997    9294455
6998   59557971
6999   26085818

[7000 rows x 1 columns]

In [120]:
check = pd.merge(container[0],df_uniq,on='I_REC_KEY',how='left')

ValueError: can not merge DataFrame with instance of type <class 'list'>

In [67]:
calendar.monthrange(2018,12)

(5, 31)

In [65]:
target_rate = []
month_list = []
final_df = pd.DataFrame()
months_before = 2          ### months before you want to capture attrition 
start_date_c = '31NOV2018' ### change the month you want to start with

In [66]:
# Loop for all months
for i in range(accts.DATE_KEY.unique().shape[0]-months_before):
    final_df.append(target_func2(start_date_c,months_before-1,0))  
    #month_list.append(start_date_c[2:])
    start_date = datetime.datetime.strptime(start_date_c, date_format)
    month = start_date.month
    year = start_date.year + month // 12
    month = month % 12 + 1
    day = max(1, calendar.monthrange(year,month)[1])
    start_date_c = datetime.datetime(year,month,day,0,0,0)
    start_date_c = start_date_c.strftime('%d%b%Y').upper()

ValueError: day is out of range for month

In [ ]:
target_file = pd.DataFrame({'Month':month_list,'Target Rate':target_rate})
target_file

In [3]:
tran = pd.read_table('UC_CoBA_TRAN_SUMM_MONTHLY_15.txt',sep='|',nrows=10)

In [4]:
tran.columns.values

array(['ACCT_KEY', 'I_REC_KEY', 'DATE_KEY', 'ACH_IN_MTD_AMT',
       'ACH_IN_MTD_QTY', 'ACH_OUT_MTD_AMT', 'ACH_OUT_MTD_QTY',
       'CHECK_CASHING_MTD_AMT', 'CHECK_CASHING_MTD_QTY',
       'CHK_WRITTEN_MTD_AMT', 'CHK_WRITTEN_MTD_QTY', 'DEBIT_CARD_MTD_AMT',
       'DEBIT_CARD_MTD_QTY', 'MOBILE_IMD_DEP_AMT', 'MOBILE_IMD_DEP_QTY',
       'MOBILE_STD_DEP_AMT', 'MOBILE_STD_DEP_QTY'], dtype=object)

In [5]:
tran_ach = pd.read_table('UC_CoBA_TRAN_SUMM_MONTHLY_15.txt',sep='|',usecols = ['ACCT_KEY', 'I_REC_KEY', 'DATE_KEY', 'ACH_IN_MTD_AMT',
       'ACH_IN_MTD_QTY', 'ACH_OUT_MTD_AMT', 'ACH_OUT_MTD_QTY'] )

In [6]:
tran_ach.shape

(42624951, 7)

In [7]:
tran_ach.head(10)

,ACCT_KEY,I_REC_KEY,DATE_KEY,ACH_IN_MTD_AMT,ACH_IN_MTD_QTY,ACH_OUT_MTD_AMT,ACH_OUT_MTD_QTY
0,3284078,9666410,31OCT2018,3409.27,2,0.00,0
1,3683895,9023693,31OCT2018,5392.35,2,352.61,4
2,2223868,9035845,31OCT2018,6205.11,4,67.93,2
3,3400641,9676268,31OCT2018,0.00,0,4205.93,4
4,2599780,9350982,31OCT2018,5130.46,3,8341.19,17
5,3624223,9036014,31OCT2018,1517.64,2,6.00,1
6,3652861,9352007,31OCT2018,4654.04,3,1487.29,30
7,2685663,9345326,31OCT2018,4723.22,3,458.03,5
8,2460866,9040993,31OCT2018,4648.60,2,894.42,3
9,2117565,9334400,31OCT2018,2182.00,1,404.52,2

In [13]:
acc = pd.read_table('UC_CoBA_ACCT_BAL_MONTHLY_15.txt',sep="|",nrows=10000)

In [12]:
acc.columns.values

array(['I_REC_KEY', 'DATE_KEY', 'AVG_MONTHLY_BAL_AMT',
       'LAST_STMT_BAL_AMT', 'MRKTG_PROD_NAME'], dtype=object)

In [15]:
acc.shape

(10000, 5)

In [16]:
acc.head(50)

,I_REC_KEY,DATE_KEY,AVG_MONTHLY_BAL_AMT,LAST_STMT_BAL_AMT,MRKTG_PROD_NAME
0,8923024,31OCT2018,2653.0,2487.0,REGULAR BUS CHECKING
1,8923024,31DEC2018,2794.0,4160.0,REGULAR BUS CHECKING
2,8923024,30NOV2018,2578.0,3626.0,REGULAR BUS CHECKING
3,8923024,31JAN2019,2332.0,2374.0,REGULAR BUS CHECKING
4,8923024,28FEB2019,2357.0,2648.0,REGULAR BUS CHECKING
5,8923024,30NOV2019,5175.0,3004.0,REGULAR BUS CHECKING
6,8923024,31MAR2019,3485.0,2116.0,REGULAR BUS CHECKING
7,8923024,30APR2019,2409.0,4135.0,REGULAR BUS CHECKING
8,8923024,31MAY2019,2008.0,3551.0,REGULAR BUS CHECKING
9,8923024,30JUN2019,2404.0,1774.0,REGULAR BUS CHECKING
10,8923024,31AUG2019,4695.0,6484.0,REGULAR BUS CHECKING
11,8923024,31JUL2019,4380.0,4617.0,REGULAR BUS CHECKING
12,8923024,31OCT2019,4965.0,5898.0,REGULAR BUS CHECKING
13,8923024,30SEP2019,5337.0,5108.0,REGULAR BUS CHECKING
14,8923024,31DEC2019,3757.0,2477.0,REGULAR BUS CHECKING
15,8911235,31OCT2018,160901.0,176965.0,BUSINESS ADVANTAGE CHECKING
16,8911235,30NOV2018,202722.0,196389.0,BUSINESS ADVANTAGE CHECKING
17,8911235,31MAY2019,32948.0,58771.0,BUSINESS ADVANTAGE CHECKING
18,8911235,28FEB2019,20041.0,21250.0,BUSINESS ADVANTAGE CHECKING
19,8911235,31DEC2018,176048.0,32620.0,BUSINESS ADVANTAGE CHECKING
20,8911235,31MAR2019,27513.0,34572.0,BUSINESS ADVANTAGE CHECKING
21,8911235,31JUL2019,29322.0,23718.0,BUSINESS ADVANTAGE CHECKING
22,8911235,30JUN2019,41160.0,34199.0,BUSINESS ADVANTAGE CHECKING
23,8911235,31JAN2019,20211.0,13052.0,BUSINESS ADVANTAGE CHECKING
24,8911235,30NOV2019,45837.0,57159.0,BUSINESS ADVANTAGE CHECKING
25,8911235,31OCT2019,42383.0,41775.0,BUSINESS ADVANTAGE CHECKING
26,8911235,31DEC2019,30911.0,29992.0,BUSINESS ADVANTAGE CHECKING
27,8911235,30APR2019,41177.0,30561.0,BUSINESS ADVANTAGE CHECKING
28,8911235,31AUG2019,26847.0,24694.0,BUSINESS ADVANTAGE CHECKING
29,8911235,30SEP2019,27445.0,34995.0,BUSINESS ADVANTAGE CHECKING
30,8908665,28FEB2019,5158.0,4033.0,BUSINESS ADVANTAGE CHECKING
31,8908665,31OCT2018,14414.0,3440.0,BUSINESS ADVANTAGE CHECKING
32,8908665,31MAY2019,46467.0,60459.0,BUSINESS ADVANTAGE CHECKING
33,8908665,31DEC2018,14542.0,7537.0,BUSINESS ADVANTAGE CHECKING
34,8908665,31JUL2019,30144.0,21620.0,BUSINESS ADVANTAGE CHECKING
35,8908665,30NOV2018,1544.0,-307.0,BUSINESS ADVANTAGE CHECKING
36,8908665,31AUG2019,13987.0,22046.0,BUSINESS ADVANTAGE CHECKING
37,8908665,30APR2019,9356.0,17059.0,BUSINESS ADVANTAGE CHECKING
38,8908665,31OCT2019,11092.0,9091.0,BUSINESS ADVANTAGE CHECKING
39,8908665,31JAN2019,5031.0,3493.0,BUSINESS ADVANTAGE CHECKING
40,8908665,31DEC2019,3811.0,1873.0,BUSINESS ADVANTAGE CHECKING
41,8908665,30JUN2019,45394.0,33500.0,BUSINESS ADVANTAGE CHECKING
42,8908665,31MAR2019,3873.0,2890.0,BUSINESS ADVANTAGE CHECKING
43,8908665,30SEP2019,13164.0,8209.0,BUSINESS ADVANTAGE CHECKING
44,8908665,30NOV2019,3804.0,1144.0,BUSINESS ADVANTAGE CHECKING
45,10856643,31OCT2018,2813.0,1586.0,REGULAR BUS CHECKING
46,10856643,31JAN2019,1979.0,478.0,REGULAR BUS CHECKING
47,10856643,31DEC2018,2683.0,518.0,REGULAR BUS CHECKING
48,10856643,30NOV2018,1810.0,3125.0,REGULAR BUS CHECKING
49,10856643,28FEB2019,1043.0,2764.0,REGULAR BUS CHECKING

In [17]:
hh_sum = pd.read_table('UC_CoBA_HH_SUMM_MONTHLY_15.txt',sep='|',nrows=10000)

In [19]:
hh_sum.columns.values

array(['HH_KEY', 'DATE_KEY', 'CONS_LOAN_ACCT_QTY', 'CONS_LOAN_BAL_AMT',
       'CONS_LOAN_WAR_PCT', 'CONS_LOAN_IND', 'CONS_DEPOSIT_ACCT_QTY',
       'CONS_DEPOSIT_BAL_AMT', 'CONS_DEPOSIT_IND', 'MORTGAGE_ACCT_QTY',
       'MORTGAGE_BAL_AMT', 'MORTGAGE_IND', 'SAFEBOX_ACCT_QTY',
       'SAFEBOX_BAL_AMT', 'SAFEBOX_IND', 'SAVINGS_ACCT_QTY',
       'SAVINGS_BAL_AMT', 'SAVINGS_IND', 'CD_ACCT_QTY', 'CD_BAL_AMT',
       'CD_IND', 'CHECKING_ACCT_QTY', 'CHECKING_BAL_AMT',
       'CREDIT_CARD_ACCT_QTY', 'CREDIT_CARD_BAL_AMT', 'CREDIT_CARD_IND',
       'DIRECT_LOAN_ACCT_QTY', 'DIRECT_LOAN_BAL_AMT', 'DIRECT_LOAN_IND',
       'HOME_EQUITY_ACCT_QTY', 'HOME_EQUITY_BAL_AMT', 'HOME_EQUITY_IND',
       'DEBIT_CARD_ACCT_QTY', 'DEBIT_CARD_IND', 'OLDEST_OPEN_DATE',
       'BRANCH_NBR', 'AFFIL_NBR', 'HH_TYPE_CODE', 'HH_SEG_CODE',
       'DIRECT_DEP_IND', 'LAST_DIRECT_DEPOSIT_AMT', 'ID_ALERT_IND',
       'IXI_CLUSTER_CODE', 'ACTIVE_CHK_IND', 'HABITUAL_OD_IND',
       'ID_ALERT_TYPE_CODE', 'GPR_IND', 'GPR_DIRECT_DEPOSIT_IND',
       'GPR_ACCT_QTY', 'GPR_BAL_AMT', 'CONS_CHECKING_IND', 'CONS_CD_IND',
       'CONS_CREDIT_CARD_IND', 'CONS_DEBIT_CARD_IND', 'CONS_SAVINGS_IND',
       'RETPLN_IND', 'RETPLN_ACCT_QTY', 'RETPLN_BAL_AMT',
       'ID_ALERT_ACCT_QTY', 'EXPBKG_ACCT_QTY', 'EXPBKG_BAL_AMT',
       'EXPBKG_IND'], dtype=object)

In [24]:
hh_sum.iloc[:,10:20].head(10) # CONS_LOAN_IND, CONS_DEPOSIT_IND

,MORTGAGE_BAL_AMT,MORTGAGE_IND,SAFEBOX_ACCT_QTY,SAFEBOX_BAL_AMT,SAFEBOX_IND,SAVINGS_ACCT_QTY,SAVINGS_BAL_AMT,SAVINGS_IND,CD_ACCT_QTY,CD_BAL_AMT
0,0,N,0,0,N,0,0,N,0,0
1,0,N,0,0,N,2,274465,Y,0,0
2,713344,Y,0,0,N,0,0,N,0,0
3,0,N,0,0,N,0,0,N,0,0
4,0,N,0,0,N,0,0,N,0,0
5,0,N,0,0,N,0,0,N,0,0
6,0,N,0,0,N,0,0,N,0,0
7,0,N,0,0,N,0,0,N,0,0
8,0,N,0,0,N,0,0,N,0,0
9,0,N,0,0,N,1,1613,Y,0,0